*.aux
*.toc
*.log
*.synctex.gz
*.bak
*.bbl
*.bcf
*.blg
*.lof
*.lot
*.xml
main.out
slides/_minted-main/511BD406CDBA8C79E75905D4859CCC24AA15CF4BA75075E8168D3671BF7EB064.pygtex
slides/_minted-main/8F17274030FFA0B7ED25A31AF0CAB27D4FBEEAFC55D0059826E664B9BBCF3721.pygtex
slides/_minted-main/FF98D866359FE5961A9759859E7AA5BD4FBEEAFC55D0059826E664B9BBCF3721.pygtex
slides/_minted-main/default-pyg-prefix.pygstyle
slides/main.nav
slides/main.out
slides/main.snm
slides/main.vrb
